<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <h2 style="margin: 1rem 30rem;"><%= listing.title %></h2>
    <div class="show-card">
      <img src=" <%= listing.image.url %> " class="show-card-img" alt="listing image" />
      <div class="show-card-body">
        <p class="show-card-text">
          <span>Owned by:</span> <i><%= listing.owner.username %></i><br/>
          <%= listing.description %><br/>
          <span>Price:</span> &#8377; <%= listing.price.toLocaleString("en-IN") %> /night<br/>
          <span>Location:</span> <%= listing.location %><br/>
          <span>Country:</span> <%= listing.country %><br/>
        </p>
      </div>
    </div>
    <br />
    <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
      <div class="show-opts">
        <a href="/listings/<%= listing._id %>/edit">Edit</a>
        <br /><br />
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button style="background-color: #212121;">Delete</button>
        </form>
      </div>
    <% } %>
    <!-- Review -->
    <div style="margin-top: 1rem;" >
      <%if(currUser) {%>
        <hr style="margin: 1rem 7rem;" />
        <h4 style="margin: 1rem 30rem;">Leave a Review</h4>
        <form method="POST" action="/listings/<%= listing.id %>/reviews"  class="new-content">
          <div>
            <!-- <input type="range" min="1" max="5" id="rating" name="review[rating]"> -->
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-coinFlip">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>

          <div >
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" style="border: 2px solid #e7e7e282; background-color: #e7e7e242;" ></textarea>
          </div>
          <button>Submit</button>
        </form>
        <hr style="margin: 1rem 7rem;"/> 
      <% } %>


      <!-- Show reviews -->
      <h4 style="margin: 1rem 30rem;">All Reviews</h4>
      
      <div class="comment-row">
        <% for(review of listing.reviews){ %>
          <div class="comment-card">
            <h5 class="comment-header">@<%=review.author.username%></h5>
            <p class="starability-result comment-body" data-rating="<%=review.rating%>"></p>
            <p class="comment-body"><%=review.comment%></p> 
            <%if(currUser){%>
              <form method="POST" action="/listings/<%= listing.id %>/reviews/<%=review._id%>?_method=DELETE">
                <button style="margin-top: 0.5rem;">Delete</button>
              </form>
            <%}%>

          </div>

        <%}%>
      </div>
    </div>

  </body>
